@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
    font-size: 62.5%;
    background-image: url('/images/Tame-Impala-cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .hide {
    display: none;
  }

  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .voltar{
    font-size: 16px;
  }

  .player {
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 40px;
  }

  .musica {
    margin: 20px 0px 15px 0px;
    color: #f0eff4;
  }

  .musica p {
    font-size: 2.4rem;
  }

  .musica span {
    font-size: 1.8rem;
  }

  .capa-musica {
    display: flex;
    flex-direction: column;
    padding: 40px;
  }

  .controles {
    margin: 10px 0px 30px 0px;
    display: flex;
    justify-content: space-between;
  }

  .controles button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .progresso input {
    width: 100%;
  }